@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"),
    url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  min-height: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
  background-color: #efe6e4;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.container {
  max-width: 1066px;
  padding: 0 15px;
  margin: 0 auto;
}

.container_wide {
  max-width: 1230px;
}

.button {
  background-color: #cc8b86;
  border: none;
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 25px 66px;
  transition: box-shadow 0.3s ease 0s;
}

.button:hover {
  box-shadow: 5px 4px 17px 0px #40312f;
}

/* Меню */

.header {
  position: absolute;
  top: 0;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
}

.header__wrapper {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  padding: 36px 0 30px;
}

.header__logo {
  margin-right: 89px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-bottom: auto;
}

.header__logo img {
  height: 25px;
  width: 25px;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 26px;
}

.nav__item {
  flex-shrink: 0;
}

.nav__item-link {
  border-bottom: 1px solid transparent;
  transition: border-color 0.3s ease 0s;
}

.nav__item-link:hover {
  border-color: #533738;
}

.header__phone {
  margin-left: 34px;
}

/* Промо */

.promo {
  padding-bottom: 168px;
  padding-top: 152px;
  margin-bottom: 65px;
  background: url("../img/promo.png") center center / cover no-repeat;
}

.promo__tille {
  font-weight: 400;
  font-size: 50px;
  line-height: 62px;
  max-width: 534px;
  margin-bottom: 24px;
}

.promo__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  max-width: 474px;
  margin-bottom: 21px;
}

/* О нас */

.about {
  margin-bottom: 65px;
}

.about__container {
  margin-bottom: 21px;
}

.about__title {
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}

.about__content {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
  column-gap: 6%;
}

.about__image-wrap {
  flex: 0 1 47%;
}

.about__text-wrap {
  flex: 0 1 47%;
}

.about__text-wrap p {
  margin-bottom: 30px;
}

.about__stats {
  padding-top: 85px;
  padding-bottom: 81px;
}

.stats {
  color: #fff;
  background-color: #8d7370;
}

.stats__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px 20px;
}

.stats__number {
  font-weight: 400;
  font-size: 50px;
  line-height: 62px;
  text-align: center;
  margin-bottom: 5px;
}

.stats__description {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
}

/* Наши проекты */

.portfolio {
  margin-bottom: 65px;
}

.portfolio__container {
}

.portfolio__title {
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.portfolio__gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 20px;
  margin-bottom: 40px;
}

figure.portfolio__item {
  line-height: 0;
}

.portfolio-item {
  position: relative;
  color: #fff;
}

.portfolio-item figcaption {
  display: block;
  position: absolute;
  inset: 0;
  z-index: 10;
  background-color: rgba(100, 72, 69, 0.8);
  padding: 86px 35px;
  opacity: 0;
  transition: opacity 0.3s ease 0s;
}

.portfolio-item:hover figcaption {
  opacity: 1;
}

.portfolio-item__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
}

.portfolio-item__subtitle {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  margin-bottom: 19px;
}

.portfolio-item__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.portfolio__link {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  cursor: pointer;
}

.portfolio__link span {
  border-bottom: 1px solid transparent;
  transition: border-color 0.3s ease 0s;
}

.portfolio__link:hover span {
  border-color: #533738;
}
